
tr.menu_table {
    height: 6em;
}

td.sides img {
    width: 11em;
}

/* error messages */
.error {
  background-color: #d00;
  color: #fff;
  font-weight: bold;
  font-size: 125%;
}
li.error {
  width: 100%;
}

tr.error {
    height: 2em;
    margin: 8px;
}

tr.bottom {
    height: 12px;
}

td.bottom_center {
    background-color: #ddd;
    text-align: center;
}