td.left_info {
    font-size: 105%;
    text-align: right;
    vertical-align: center;
    width: 40%;
    overflow: auto;
    padding: 3em 1em 20pt 1em;
    hyphens: auto;
}

td.left_info div{
    text-align: justify;
    max-height: 20em;
}

div.italic_small {
    font-size: 75%;
    font-style: italic;
    width: 100%;
}

td.center_blend {
    margin-left: auto;
    margin-right: auto;
    width: 1em;
    height: 1px;
    vertical-align: top;
}

td.right_info {
    text-align: center;
    vertical-align: center;
    width: 40%;
}

td.right_info img{
    max-width: 90%;
    max-height: 17em;
}

#structure {
    width: 30em;
    min-width: 15em;
}

#compound_name {
    width: 35em;
}

#sequence {
    width: 8em;
}

#pdb_file {
display: none;
}
