{% extends 'base.html' %}

{% block nav_login_page %}active{% endblock %}

{% block content %}
    <center>

    <form method="POST">
      <table class="noborder">
          <tr><td>User Email:</td><td><input name="email" id="email" value=""></td></tr>
          <tr><td>Password:</td><td><input type="password" name="password" id="password" value=""></td></tr>
          <tr><td colspan="2"><input type="checkbox" name="remember" id="remember">Remember me</td></tr>
        <tr><td colspan="2"><center><input type="submit"></center></td> </tr>
      </table>
    </form>
    </center>

{% endblock %}
