{% extends 'base.html' %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='layout_periodic_table.css') }}">
{% endblock %}

{% block content %}
    <center>
        <div class="description">
        Color elements by <a href="{{url_for('periodic_table')}}" class="design_button" id="design_default">groups</a>
            <a href="{{url_for('periodic_table', plot_scale='neutron')}}" class="design_button" id="design_neutron">b-neutron</a>
            <a href="{{url_for('periodic_table', plot_scale='xray')}}" class="design_button" id="design_xrayCu">Cu kɑ</a>
            <a href="{{url_for('periodic_table', plot_scale='xrayMo')}}" class="design_button" id="design_xrayMo">Mo kɑ</a>
        </div>
      <div class="full_table">
          <div id="ElementDisplay">
              <div id="ElementCharge"></div>
              <div id="ElementWeight"></div>
              <div id="ElementSymbol"></div>
              <div id="ElementInfo">
                  <table>
                      <tr><td id="ElementName" colspan="3"></td>
                          <td rowspan="6" id="ElementRightCol">
                              one click:<br/>copy to clipboard<br/><br/>double click:<br/>element SLD</td><tr>
                      <tr><td></td><td></td></tr>
                      <tr><td class="slight_pad">b-neutron</td><td id="ElementB"></td><td class="italic">fm</td></tr>
                      <tr><td class="slight_pad">f-xray Cu kɑ</td><td id="ElementF"></td><td class="italic">r<sub>e</sub></td></tr>
                      <tr><td class="slight_pad">f-xray Mo kɑ</td><td id="ElementFMo"></td><td class="italic">r<sub>e</sub></tr>
                  </table>
              </div>
          </div>
          <table class="full" id="ElementTable">
              {%for row in range(10)%}
              <tr>
                  {%for column in range(18)%}
                    {% if (row,column) in elements %}
                        {% set Z = elements[row,column][0] %}
                        {% if scale_colors %}
                            <td class="actual_element" data-color="{{scale_colors[Z]}}"
                            data-name="{{element_names[Z]}}" data-fullname="{{element_fullnames[Z]}}"
                            data-weight="{{element_weight[Z]}}" data-b="{{element_b[Z]}}"
                            data-fcu="{{element_f[Z]}}" data-fmo="{{element_fMo[Z]}}"
                            data-elementcolor="{{element_colors[Z]}}" data-z="{{Z}}"
                            data-url="{{url_for('periodic_table', sld_element=elements[row,column][1])}}">
                        {% else %}
                            {% if row<7 %}
                            <td class="actual_element" data-color="{{element_colors[Z]}}"
                            data-name="{{element_names[Z]}}" data-fullname="{{element_fullnames[Z]}}"
                            data-weight="{{element_weight[Z]}}" data-b="{{element_b[Z]}}"
                            data-fcu="{{element_f[Z]}}" data-fmo="{{element_fMo[Z]}}"
                            data-elementcolor="{{element_colors[Z]}}" data-z="{{Z}}"
                            data-url="{{url_for('periodic_table', sld_element=elements[row,column][1])}}">
                            {% else %}
                            <td class="actual_element" data-color="{{element_colors[Z]}}"
                            data-name="{{element_names[Z]}}" data-fullname="{{element_fullnames[Z]}}"
                            data-weight="{{element_weight[Z]}}" data-b="{{element_b[Z]}}"
                            data-fcu="{{element_f[Z]}}" data-fmo="{{element_fMo[Z]}}"
                            data-elementcolor="{{element_colors[Z]}}" data-z="{{Z}}"
                            data-url="{{url_for('periodic_table', sld_element=elements[row,column][1])}}">
                            {% endif %}
                        {% endif %}
                      {{elements[row,column][1]}}
                    {% else %}
                        <td>
                    {% endif %}</td>
                  {%endfor%}
              </tr>
              {%endfor%}
          </table>
      </div>
    </center>

<script src="{{url_for('static', filename='periodic_table.js')}}"></script>
{% endblock %}
