{% extends 'base.html' %}

{% block nav_login_page %}active{% endblock %}

{% block content %}
    <center>

    <h2>Please enter your password below, it will be activated directly for you to log in.</h2>
    <form method="POST">
      <input type="hidden" name="user_id" value="{{user_id}}">
      <input type="hidden" name="token" value="{{token}}">
      <table class="noborder">
          <tr><td>Accound:</td><td><input type="text" name="username" id="username" value="{{user_email}}" disabled></td></tr>
          <tr><td>Enter Password:</td><td><input type="password" name="password" id="password"
                                                 value="" required></td></tr>
          <tr><td>Repeat Password:</td><td><input type="password" name="confirm_password" id="confirm_password"
                                                  value="" required></td></tr>
        <tr><td colspan="2"><center><input type="submit"></center></td> </tr>
      </table>
    </form>
    </center>

{% endblock %}
