{% extends 'base.html' %}

{% block nav_admin %}active_about{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='layout_admin.css') }}">
{% endblock %}

{% block content %}
{% if current_user.admin %}
<center>
  <h2>This page is only meant for SLDDB admins, please be careful with the powers you are presented with!</h2>
  <br /><br />
  <form method="post">
  Add new user: <br />
    <table><tr>
        <td class="alignright">Name:</td>
        <td><input type="text" name="user_name" id="user_name"> </td>
      </tr><tr>
        <td class="alignright">Email:</td>
        <td><input type="email" name="user_email" id="user_email"></td>
      </tr><tr>
        <td colspan="2" class="aligncenter"><input type="submit" name="new_user"></td>
      </tr></table>
  <br /><br />
  <table class="withborder">
    <tr><th>ID</th><th>User Name</th><th>Email</th><th>is Admin?</th>
      <th>Set/Unset Admin</th><th>Delete</th><th>Reset Password</th></tr>
    {% for user in users %}
    <tr {%if not user.password%}class="not_activated"{%endif%}>
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
      <td>{{user.admin}}</td>
      <td><input type="submit" name="toggle_admin_{{user.id}}" value="toggle"></td>
      <td><input type="submit" name="delete_user_{{user.id}}" value="DELETE"></td>
      <td><input type="submit" name="reset_password_{{user.id}}" value="reset"></td></tr>
    {% endfor %}
  </table>
  </form>
  <br/><br/>
  <a href="{{url_for('admin_query')}}">Admin custom SQlite query page</a>
</center>
{% else %}
  <h2>This page requires a user with admin rights!</h2>
{% endif %}

{% endblock %}
