<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>ORSO SLD Data base {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_base.css') }}">
    {% block extra_styles %}{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}{% endblock %}
</head>
<body>
<section class="content">
      <table class="main">
        <tr class="menu_table">
          <td class="sides"><img src="{{url_for('static', filename='ORSO_Logo_clean.png')}}"></td>
          <td class="greybg">
              <header>
                  <img src="{{url_for('static', filename='ORSO_Logo_clean.png')}}" class="top_logo">
                  <div class="top_header"><h1>SLD Database</h1>{{ slddb_version }}</div>
              </header>
            <nav><ul>
              <li class="{% block nav_start_page %}{% endblock %}"><a href="{{ url_for('start_page') }}">Query Database</a></li>
              <li class="{% block nav_calculate_sld %}{% endblock %}"><a href="{{ url_for('calculate_sld') }}">Calculate SLD</a></li>
              <li class="{% block nav_bio_blender %}{% endblock %}"><a href="{{ url_for('bio_blender') }}">BioBlender</a></li>
              <li class="{% block nav_input_page %}{% endblock %} hide_mobile"><a href="{{ url_for('input_page') }}">Enter Material</a></li>
              <li  class="{% block nav_about %}about{% endblock %}"><a href="{{ url_for('about_page') }}">About</a></li>
              {% if current_user.is_authenticated %}
                  <li  class="login"><a href="{{ url_for('logout') }}">{{current_user.name}} - Logout</a></li>
                {% if current_user.admin %}
                    <li  class="{% block nav_admin %}about{% endblock %}"><a href="{{ url_for('admin') }}">Admin</a></li>
                {% endif %}
              {% else %}
                  <li  class="{% block nav_login %}login{% endblock %}"><a href="{{ url_for('login') }}">Login</a></li>
              {% endif %}
            </ul></nav>
          </td>
          <td class="sides"></td>
        </tr>
          <tr><td class="sides"></td><td class="greybg aligntop">
            <div class="fullauto">
   {% block content %} {% endblock %}
            </div>
      </td><td class="sides"></td></tr>
        {% with messages = get_flashed_messages() %}
          {% if messages or error %}
        <tr class="error"><td class="sides"></td><td class="error">
            <center>
            <ul class="error">
            {% for message in messages %}
              <li class="error">{{ message }}</li>
            {% endfor %}
            </ul>
            {% if error %}
              {{error|safe}}
           {% endif %}
            </center>
        </td><td class="sides"></td></tr>
          {% endif %}
        {% endwith %}
        <tr class="hide_mobile bottom"><td class="sides"></td>
            <td class="bottom_center">
            Open Reflectometry Standards Organization scattering length density database. Written by
                <a href="mailto:artur.glavic@psi.ch">Artur Glavic</a> from Paul Scherrer Institut (PSI).</td>
            <td class="sides"></td></tr>
      </table>
</section>
<script src="{{url_for('static', filename='general.js')}}"></script>
</body>
</html>