<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<title>ORSO SLD Data base {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}{% endblock %}
  </header>
      <table class="main">
        <tr style="height: 6em;">
          <td class="sides"><img src="https://github.com/reflectivity/logo/raw/master/aglavic/ORSO_Logo_clean.png" style="width: 11em"></td>
          <td style="background-color: #fafafa">
              <img src="https://github.com/reflectivity/logo/raw/master/aglavic/ORSO_Logo_clean.png" class="top_logo" style="width: 8em; float: left; margin: 10px;">
              <center><h1 style="margin: 1.5em 0pt 0pt 0px;">SLD Database</h1>{{ slddb_version }}</center>
          <br/>
            <ul>
              <li class="{% block nav_start_page %}{% endblock %}"><a href="{{ url_for('start_page') }}">Query Database</a></li>
              <li class="{% block nav_calculate_sld %}{% endblock %}"><a href="{{ url_for('calculate_sld') }}">Calculate SLD</a></li>
              <li class="{% block nav_bio_blender %}{% endblock %}"><a href="{{ url_for('bio_blender') }}">BioBlender</a></li>
              <li class="{% block nav_input_page %}{% endblock %}"><a href="{{ url_for('input_page') }}">Enter Material</a></li>
              <li  class="{% block nav_about %}about{% endblock %}"><a href="{{ url_for('about_page') }}">About</a></li>
              {% if current_user.is_authenticated %}
                  <li  class="login"><a href="{{ url_for('logout') }}">{{current_user.name}} - Logout</a></li>
                {% if current_user.admin %}
                    <li  class="{% block nav_admin %}about{% endblock %}"><a href="{{ url_for('admin') }}">Admin</a></li>
                {% endif %}
              {% else %}
                  <li  class="{% block nav_login %}login{% endblock %}"><a href="{{ url_for('login') }}">Login</a></li>
              {% endif %}
            </ul>
          </td>
          <td class="sides"></td>
        </tr>
          <tr><td class="sides"></td><td style="vertical-align: text-top;" class="center">
            <div style="width: 100%; height: 100%; overflow: auto;">
   {% block content %} {% endblock %}
            </div>
      </td><td class="sides"></td></tr>
        {% with messages = get_flashed_messages() %}
          {% if messages or error %}
        <tr style="height: 2em; margin: 8px;"><td class="sides"></td><td class="error">
            <center>
            <ul class="error">
            {% for message in messages %}
              <li class="error">{{ message }}</li>
            {% endfor %}
            </ul>
            {% if error %}
              {{error|safe}}
           {% endif %}
            </center>
        </td><td class="sides"></td></tr>
          {% endif %}
        {% endwith %}
        <tr style="height: 12px;" class="hide_mobile"><td class="sides"></td><td style="background-color: #ddd; text-align: center;">
            Open Reflectometry Standards Organization scattering length density database. Written by <a href="mailto:artur.glavic@psi.ch">Artur Glavic</a> from Paul Scherrer Institut (PSI).</td>
            <td class="sides"></td></tr>
      </table>
</section>
</html>