{% extends 'base.html' %}

{% block nav_input_page %}active{% endblock %}

{% block content %}
    <center>
        {% if comment %}
        <p style="color: #f00;">
            {{comment}}
        </p>
        {% endif %}


      <div style="width: 30%; float:left; text-align: justify; margin: 10pt;"><div style="height: 100pt;"></div>
          Here you can enter new materials into the database.
          Each material will get its unique ID and if relevant will be reviewed by ORSO and than validated.
          Please provide as much information as possible, especially suitable references to allow us
          to check the validity of the data.
      </div>
      <div style="width: 30%; float:right;text-align: left;"><div style="height: 100pt;"></div>
      <form method="POST" enctype="multipart/form-data">
          Upload CIF file<br />
          <input type="file" accept=".cif" id="cif_file" name="cif_file" onchange="form.submit()">
      </form></div>
    <div style="width: 40%;">
    <form method="POST">
      <table class="withborder">
          <tr><td>Your email (hidden)</td>
              <td>{{ get_input("created_by")|safe }}</td></tr>
          <tr><td>Compound field:</td><td>Value:</td></tr>
    {%for field in fields%}
          <tr><td>{{field}}</td><td>{{ get_input(field)|safe }}</td></tr>
    {%endfor%}
        <tr><td colspan="2"><center><input type="submit" name="material"></center></td> </tr>
      </table>
    </form></div>
    </center>

{% endblock %}
