{% extends 'base.html' %}

{% block nav_start_page %}active{% endblock %}

{% block content %}
  <p><center>
    <form action="{{ url_for('search_query') }}" method="post">
      <table class="withborder">
        <tr><td>Field</td><td>search for value</td></tr>
        <tr><td>Name</td><td><input name="name" id="compound name" value="{{ request.form['name'] }}"></td></tr>
        <tr><td>Formula</td><td><input name="formula" id="compound formula" value="{{ request.form['formula'] }}"></td></tr>
        <tr><td>Description</td><td><input name="description" id="compound description" value="{{ request.form['description'] }}"></td></tr>
        <tr><td colspan="2"><center><input type="submit"></center></td> </tr>
      </table>
    </form>
    </center>
  </p>

  {% if query_result %}
  <p><center>
  <form method="post" action="{{ url_for('select_material') }}">
    <table class="withborder">
      <tr>
        <th></th>{%for name in flt_fields_names%}<th>{{ name }}</th>{%endfor%}
      </tr>
      {%for row in query_result%}
        <tr>
          <td><button type="submit" name="ID" id="ID" value="{{row['ID']}}">select</button></td>
          {%for field in flt_fields%}
          <td>{{row[field]}}</td>
          {%endfor%}
        </tr>
      {%endfor%}
    </table>
  </form>
  </center></p>
  {% endif %}

{% endblock %}
