{% extends 'base.html' %}

{% block nav_start_page %}active{% endblock %}

{% block content %}
  <p><center>
    <form action="{{ url_for('search_query') }}" method="post">
      <table class="withborder">
        <tr><td>Field</td><td>search for value</td></tr>
        <tr><td>Name</td><td><input name="name" id="compound name" value="{{ request.form['name'] }}"></td></tr>
        <tr><td>Formula</td><td><input name="formula" id="compound formula" value="{{ request.form['formula'] }}"></td></tr>
        <tr><td>Description</td><td><input name="description" id="compound description" value="{{ request.form['description'] }}"></td></tr>
        <tr><td colspan="2"><center><input type="submit"></center></td> </tr>
      </table>
    </form>
    </center>
  </p>

  {% if query_result %}
  <p><center>
    Results of database query:
    <div style="background-color: #ddd; padding: 5px; border: 1px; width: 150px; display:inline;">Never Selected</div>
    <div style="background-color: #dfd; padding: 5px; border: 1px; width: 150px; display:inline;`">ORSO validated</div>
  </center></p>
  <p>
  <center>
  <form method="post" action="{{ url_for('select_material') }}">
    <table class="withborder">
      <tr>
        <th></th>{%for name in flt_fields_names%}<th>{{ name.replace("_", " ") }}</th>{%endfor%}
      </tr>
      {%for row in query_result%}
        <tr style="background-color: {{row['color']}}">
          <td><button type="submit" name="ID" id="ID" value="{{row['ID']}}">select</button></td>
          {%for field in flt_fields%}
            {% if ("%s"%row[field]).startswith('http://') or ("%s"%row[field]).startswith('https://') %}
              <td><a href="{{row[field]}}" target="_blank">link</a></td>
            {% elif row[field] is none %}
              <td />
            {% else %}
              <td>{{row[field]}}</td>
            {% endif %}
          {%endfor%}
          {% if orso_user %}
          <td><button type="submit" name="Validate" id="Validate" value="{{orso_user}}-{{row['ID']}}">validate</button></td>
          {% endif %}
        </tr>
      {%endfor%}
    </table>
  </form>
  </center></p>
  {% endif %}

{% endblock %}
