{% extends 'base.html' %}

{% block nav_login_page %}active{% endblock %}

{% block content %}
    <center>
        {% if comment %}
        <p style="color: #f00;">
            {{comment}}
        </p>
        {% endif %}

    <h2>Please enter your password below, it will be activated directly for you to log in.</h2>
    <form method="POST">
      <input type="hidden" name="user_id" value="{{user_id}}">
      <input type="hidden" name="token" value="{{token}}">
      <table class="withborder">
          <tr><td>Enter Password:</td><td><input type="password" name="password" id="password" value=""></td></tr>
          <tr><td>Repeat Password:</td><td><input type="password" name="password2" id="password2" value=""></td></tr>
        <tr><td colspan="2"><center><input type="submit"></center></td> </tr>
      </table>
    </form>
    </center>

{% endblock %}
