{% extends 'base.html' %}

{% block nav_calculate_sld %}active{% endblock %}

{% block content %}
  <p><center>
    <form action="{{ url_for('calculate_sld') }}" method="get">
      <table class="withborder">
        <tr><td>Field</td><td>value for calculation</td></tr>
        <tr><td>Formula</td><td><input name="formula" id="compound formula" value="{{ request.args['formula'] or formula }}"></td></tr>
        <tr><td><select id="densinput" name="densinput">
          <option value="density">Density (g/cm³)</option>
          <option value="volume">FU Volume (Å³)</option>
        </select></td><td><input name="density" id="compound density" value="{{ request.args['density'] or density }}"></td></tr>
        <tr><td>Magnetisation (µB/FU)</td><td><input name="mu" id="compound mu" value="{{ request.args['mu'] or mu }}"></td></tr>
        <tr><td colspan="2"><center><input type="submit"></center></td> </tr>
      </table>
    </form>
    </center>
  </p>

  <p><center>
    <form action="{{ url_for('start_page') }}">
      <button type="submit" >back to database query</button>
    </form>
    </center>
  </p>

  {% if material %}
  <p><center>
  <h2>Result of SLD calculation:</h2>
  <form method="post" action="{{ url_for('select_material') }}">
    <table class="withborder">
        <tr><td>Compound</td><td colspan=2>{{material_name}}</td></tr>
        <tr><td>Description</td><td colspan=2 syle="word-wrap;">{{material_description}}</td></tr>
        <tr><td>Chemical Formula</td><td colspan=2>{{material}}</td></tr>
        <tr><td>Density (g/cm³)</td><td colspan=2>{{"%.4f"%material.dens}}</td></tr>
        <tr><td>Neutron nuclear SLD (10⁻⁶ Å⁻²)</td>
          <td>{{"%.6f"%(1000000*material.rho_n.real)}}</td>
          <td>{{"%.6f"%(1000000*material.rho_n.imag)}}</td></tr>
        <tr><td>Neutron magnetic SLD (10⁻⁶ Å⁻²)</td><td colspan=2>{{"%.6f"%(1000000*material.rho_m)}}</td>
        <tr><td>Cu-Kɑ SLD (10⁻⁶ Å⁻²)</td>
          <td>{{"%.6f"%(1000000*material.delta_of_E(Cu_kalpha).real)}}</td>
          <td>{{"%.6f"%(1000000*material.delta_of_E(Cu_kalpha).imag)}}</td></tr>
        <tr><td>Mo-Kɑ SLD (10⁻⁶ Å⁻²)</td>
          <td>{{"%.6f"%(1000000*material.delta_of_E(Mo_kalpha).real)}}</td>
          <td>{{"%.6f"%(1000000*material.delta_of_E(Mo_kalpha).imag)}}</td></tr>
    </table>
  </form>
  </center></p>
  {% endif %}

  <center>
  {{script|safe}}
  </center>

{% endblock %}
