{% extends 'base.html' %}

{% block nav_calculate_sld %}active{% endblock %}

{% block content %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
     equationNumbers: {  autoNumber: "AMS"  },
     extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
  },
  "HTML-CSS": {
     linebreaks: { automatic: true }
  },
});
</script>
<script type="text/javascript"
 src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

  {% if material %}
    <script>
    const material_energies = {{ xray_E }};
    const material_rho_real = {{ xray_rho_real }};
    const material_rho_imag = {{ xray_rho_imag }};
    const material_delta = {{ xray_delta }};
    const material_beta = {{ xray_beta }};

    var material_neutron_real = {{1e6*material.rho_n.real}};
    var material_neutron_imag = {{1e6*material.rho_n.imag}};
    var material_neutron_magn = {{1e6*material.rho_m.real}};
    var material_Cu_real = {{1e6*material.rho_of_E(Cu_kalpha).real}};
    var material_Cu_imag = {{1e6*material.rho_of_E(Cu_kalpha).imag}};
    var material_Mo_real = {{1e6*material.rho_of_E(Mo_kalpha).real}};
    var material_Mo_imag = {{1e6*material.rho_of_E(Mo_kalpha).imag}};
    var material_dens = ({{material.dens}}).toFixed(4);

    var can_switch=true;

    function updateSlider(slideAmount) {
        var unit = document.getElementById("user_select").value;
        var real_part; var imag_part;
        if (slideAmount<0) {
            slideAmount=document.getElementById("xray_energy_value").value;
            if (can_switch) {
                can_switch=false;
                document.getElementById("cu_select").selectedIndex=document.getElementById("user_select").selectedIndex;
                document.getElementById("mo_select").selectedIndex=document.getElementById("user_select").selectedIndex;
                switch_sld_cu(unit)
                switch_sld_mo(unit)
                can_switch=true;
            }
            }
        if (unit == 'sld') {
            factor=1.0e6;
            real_part=material_rho_real;
            imag_part=material_rho_imag;
        } else if (unit == 'electron'){
            factor=1.0e5/{{r_e}};
            real_part=material_rho_real;
            imag_part=material_rho_imag;
        } else {
            factor=1.0;
            real_part=material_delta;
            imag_part=material_beta;
        }

        var factor; var val_real; var val_imag;
        var xval=parseFloat(slideAmount)/1000.0;
        var left = material_energies.findIndex(ele => ele >= xval);
        var right = left+1;
        var dxleft = material_energies[left]-xval;
        var dxright = xval-material_energies[right];
        var dx=dxleft+dxright;
        if (dxleft>0) {
            val_real=real_part[left]*(dxright/dx)+real_part[right]*(dxleft/dx);
            val_imag=imag_part[left]*(dxright/dx)+imag_part[right]*(dxleft/dx);
        } else {
            val_real=real_part[left];
            val_imag=imag_part[left];
        }

        if (unit == 'n_db') {
            document.getElementById("value_real").innerHTML = (val_real).toExponential(4);
            document.getElementById("value_imag").innerHTML = (val_imag).toExponential(4);
        } else {
            document.getElementById("value_real").innerHTML = (val_real*factor).toFixed(6);
            document.getElementById("value_imag").innerHTML = (val_imag*factor).toFixed(6)+'i';
        }

        document.getElementById("xray_energy_value").value = slideAmount;
    }

    function updateValue() {
        const value = document.getElementById("xray_energy_value").value;
        document.getElementById("xray_energy").value = value;
        updateSlider(value);
    }

    {% if deuterated %}
    var deuterated_neutron_real = {{1e6*deuterated.rho_n.real}};
    var deuterated_neutron_imag = {{1e6*deuterated.rho_n.imag}};
    var deuterated_density = {{deuterated.dens}};
    var hydrogenated_density = {{material.dens}};

    function deuterateSlider(slideAmount) {
        frac=slideAmount*0.01;

        var val_real=(1.0-frac)*material_neutron_real+frac*deuterated_neutron_real;
        var val_imag=(1.0-frac)*material_neutron_imag+frac*deuterated_neutron_imag;

        document.getElementById("neutron_entry_real").innerHTML = (val_real).toFixed(5);
        document.getElementById("neutron_entry_imag").innerHTML = (val_imag).toFixed(5)+'i';

        document.getElementById("deuteration_amount_value").value = slideAmount;

        if (document.getElementById("densresult").value == 'density') {
            material_dens = ((1.0-frac)*hydrogenated_density + frac*deuterated_density).toFixed(4);
            document.getElementById("density_value").innerHTML = material_dens;
        }
    }

    function deuterateValue() {
        const value = document.getElementById("deuteration_amount_value").value;
        document.getElementById("deuteration_amount").value = value;
        deuterateSlider(value);
    }
    {% endif %}

    function copy_all() {
        var out = '';
        out=out.concat('Compound', '\t', '{{material_name}}', '\n');
        out=out.concat('Description', '\t', '{{material_description}}', '\n');
        out=out.concat('Chemical Formula', '\t', '{{material}}', '\n');

        var dens_select=document.getElementById("densresult")
        out=out.concat(dens_select.options[dens_select.selectedIndex].text, '\t',
                        document.getElementById("density_value").innerHTML, '\n');

        out=out.concat('Neutron nuclear SLD (10⁻⁶ Å⁻²)',
                        '\t', document.getElementById("neutron_entry_real").innerHTML,
                        '\t', document.getElementById("neutron_entry_imag").innerHTML, '\n');
        var magn_select=document.getElementById("magnresult")
        out=out.concat(magn_select.options[magn_select.selectedIndex].text, '\t', material_neutron_magn, '\n');

        var xray_select=document.getElementById("cu_select");
        var xray_unit=xray_select.options[xray_select.selectedIndex].text
        out=out.concat(`Cu-Kɑ ${xray_unit}`,
                        '\t', document.getElementById("cu_entry_real").innerHTML,
                        '\t', document.getElementById("cu_entry_imag").innerHTML, '\n');
        out=out.concat(`Mo-Kɑ SLD ${xray_unit}`,
                        '\t', document.getElementById("mo_entry_real").innerHTML,
                        '\t', document.getElementById("mo_entry_imag").innerHTML, '\n');
        out=out.concat(`Custom (${document.getElementById("xray_energy_value").value} eV) ${xray_unit}`,
                        '\t', document.getElementById("value_real").innerHTML,
                        '\t', document.getElementById("value_imag").innerHTML, '\n');

        navigator.clipboard.writeText(out);
    }

    function copy_NSLD() {
        const value_real=document.getElementById("neutron_entry_real").innerHTML;
        const value_imag=document.getElementById("neutron_entry_imag").innerHTML;

        navigator.clipboard.writeText(`${value_real}\t${value_imag}`);
    }
    function copy_Nmag() {
        navigator.clipboard.writeText(`${material_neutron_magn.toFixed(6)}`);
    }
    function copy_Cu() {
        const value_real=document.getElementById("cu_entry_real").innerHTML;
        const value_imag=document.getElementById("cu_entry_imag").innerHTML;
        var unit = document.getElementById("cu_select").value;
        if (unit == 'n_db') {
        navigator.clipboard.writeText(`${value_real}\t${value_imag}`);
        } else {
        navigator.clipboard.writeText(`${value_real}+${value_imag}`.replace('+-', '-'));
        }
    }
    function copy_Mo() {
        const value_real=document.getElementById("mo_entry_real").innerHTML;
        const value_imag=document.getElementById("mo_entry_imag").innerHTML;
        var unit = document.getElementById("mo_select").value;
        if (unit == 'n_db') {
        navigator.clipboard.writeText(`${value_real}\t${value_imag}`);
        } else {
        navigator.clipboard.writeText(`${value_real}+${value_imag}`.replace('+-', '-'));
        }
    }
    function copy_xE() {
        var unit = document.getElementById("user_select").value;
        var factor;
        if (unit == 'sld') {
            factor=1.0e6;
            real_part=material_rho_real;
            imag_part=material_rho_imag;
        } else if (unit == 'electron'){
            factor=1.0e5/{{r_e}};
            real_part=material_rho_real;
            imag_part=material_rho_imag;
        } else {
            factor=1.0;
            real_part=material_delta;
            imag_part=material_beta;
        }

        var out = 'E (kev)\treal\timag\n';
        for (let i = 0; i < material_energies.length; i++) {
          out+=`${material_energies[i]}\t${factor*real_part[i]}\t${factor*imag_part[i]}\n`;
        }

        const SLD_real=document.getElementById("value_real").innerHTML;
        const SLD_imag=document.getElementById("value_imag").innerHTML;
        navigator.clipboard.writeText(out);
    }
    function copy_xray() {
        const SLD_real=document.getElementById("value_real").innerHTML;
        const SLD_imag=document.getElementById("value_imag").innerHTML;
        var unit = document.getElementById("user_select").value;
        if (unit == 'n_db') {
        navigator.clipboard.writeText(`${SLD_real}\t${SLD_imag}`);
        } else {
        navigator.clipboard.writeText(`${SLD_real}+${SLD_imag}`.replace('+-', '-'));
        }
    }

    function switch_density() {
        var selection = document.getElementById("densresult").value;
        if (selection == 'density') {document.getElementById("density_value").innerHTML = material_dens;}
        if (selection == 'FUdens') {document.getElementById("density_value").innerHTML = '{{"%.6e"%material.fu_dens}}';}
        if (selection == 'FUdnm') {document.getElementById("density_value").innerHTML = '{{"%.7f"%(material.fu_dens*1e3)}}';}
        if (selection == 'volume') {document.getElementById("density_value").innerHTML = '{{"%.3f"%material.fu_volume}}';}
    }

    function switch_sld_cu(selection) {
        if (selection == 'electron') {
            document.getElementById("cu_entry_real").innerHTML = '{{"%.6f"%(material.rho_of_E(Cu_kalpha).real/r_e_angstrom)}}';
            document.getElementById("cu_entry_imag").innerHTML = '{{"%.6f"%(material.rho_of_E(Cu_kalpha).imag/r_e_angstrom)}}i';
            {% if material.ID %}
            document.getElementById("download_link").href = '{{url_for('api_download', ID=material.ID, xray_unit='edens')|safe}}';
            {% endif %}
            } else if (selection == 'sld') {
            document.getElementById("cu_entry_real").innerHTML = '{{"%.6f"%(1e6*material.rho_of_E(Cu_kalpha).real)}}';
            document.getElementById("cu_entry_imag").innerHTML = '{{"%.6f"%(1e6*material.rho_of_E(Cu_kalpha).imag)}}i';
            {% if material.ID %}
            document.getElementById("download_link").href = '{{url_for('api_download', ID=material.ID, xray_unit='sld')|safe}}';
            {% endif %}
            } else if (selection == 'n_db') {
            document.getElementById("cu_entry_real").innerHTML = '{{"%.4e"%(material.delta_of_E(Cu_kalpha))}}';
            document.getElementById("cu_entry_imag").innerHTML = '{{"%.4e"%(material.beta_of_E(Cu_kalpha))}}';
            {% if material.ID %}
            document.getElementById("download_link").href = '{{url_for('api_download', ID=material.ID, xray_unit='n_db')|safe}}';
            {% endif %}
            }
        if (can_switch) {
            can_switch=false;
            document.getElementById("mo_select").selectedIndex=document.getElementById("cu_select").selectedIndex;
            switch_sld_mo(selection)
            document.getElementById("user_select").selectedIndex=document.getElementById("cu_select").selectedIndex;
            updateSlider(-1)
            can_switch=true;
        }
    }

    function switch_sld_mo(selection) {
        if (selection == 'electron') {
            document.getElementById("mo_entry_real").innerHTML = '{{"%.6f"%(material.rho_of_E(Mo_kalpha).real/r_e_angstrom)}}';
            document.getElementById("mo_entry_imag").innerHTML = '{{"%.6f"%(material.rho_of_E(Mo_kalpha).imag/r_e_angstrom)}}i';
            } else if (selection == 'sld') {
            document.getElementById("mo_entry_real").innerHTML = '{{"%.6f"%(1e6*material.rho_of_E(Mo_kalpha).real)}}';
            document.getElementById("mo_entry_imag").innerHTML = '{{"%.6f"%(1e6*material.rho_of_E(Mo_kalpha).imag)}}i';
            } else if (selection == 'n_db') {
            document.getElementById("mo_entry_real").innerHTML = '{{"%.4e"%(material.delta_of_E(Mo_kalpha))}}';
            document.getElementById("mo_entry_imag").innerHTML = '{{"%.4e"%(material.beta_of_E(Mo_kalpha))}}';
            }
        if (can_switch) {
            can_switch=false;
            document.getElementById("cu_select").selectedIndex=document.getElementById("mo_select").selectedIndex;
            switch_sld_cu(selection)
            document.getElementById("user_select").selectedIndex=document.getElementById("mo_select").selectedIndex;
            updateSlider(-1)
            can_switch=true;
        }
    }

    function switch_magn() {
        var selection = document.getElementById("magnresult").value;
        if (selection == 'msld') {material_neutron_magn={{1e6*material.rho_m}};}
        if (selection == 'muB') {material_neutron_magn={{material.mu}};}
        if (selection == 'magn') {material_neutron_magn={{material.M}};}
        document.getElementById("magn_value").innerHTML = material_neutron_magn.toFixed(6);
    }
    </script>
  {% endif %}

    <table style="width: 100%; height: 100%;"><tr>
      <td class="hide_mobile" style="width: 40%; font-size: 105%; text-align: justify; vertical-align: top; padding: 3em 1em 20pt 1em;">
          <div style="max-height: 26em; overflow: auto;">
          This page provides the calculated SLD values from items selected from the database or entered manually.
          Using the given chemical formula and one type of density information the tabulated
          x-ray and neutron atomic scattering data are used to calculate the optical parameters.
          <br />
          You can select a specific x-ray energy to get customized calculated values.
          For hydrogen containing compounds there is a similar functionality to choose deuteration amount.
          Isotopes are specified with N in square brackets (<i>B[10]</i>).
          <br /><br />
          <div style="font-size: 75%; font-style: italic; width: 100%;">
              Physical constants are taken from CODATA Internationally recommended 2018 values.
              Neutron scattering lengths use the NIST provided values through the python periodictable packate.
              X-ray energy dependant scattering is base on the Henke tables.
          </div>
          </div>
      </td>

    <td style="width: 18em; align: center; vertical-align: top;">
    <p></p>
    <form action="{{ url_for('calculate_sld', _anchor='results_header') }}" method="get"><center>
      <table class="noborder" style="width: 18em;">
        <tr><th>Field</th><th>value for calculation</th></tr>
        <tr><td style="text-align: right;">Formula</td><td><input type="text" name="formula" id="compound formula"
                                       value="{{ request.args['formula'] or formula }}" placeholder="Fe2O3 / H[2]2O / H2(C2H4)4"></td></tr>
        <tr><td style="text-align: right;"><select id="densinput" name="densinput" style="width: 150px;">
          <option value="density">Density (g/cm³)</option>
          <option value="FUdens" {% if request.args['densinput']=='FUdens' %} selected {% endif %}>Density (FU/Å³)</option>
          <option value="FUdnm" {% if request.args['densinput']=='FUdnm' %} selected {% endif %}>Density (FU/nm³)</option>
          <option value="volume" {% if request.args['densinput']=='volume' %} selected {% endif %}>FU Volume (Å³)</option>
        </select></td><td><input type='number' step="any" name="density" id="compound density" value="{{ request.args['density'] or density }}"></td></tr>
        <tr><td style="text-align: right;"><select id="magninput" name="magninput" style="width: 150px;">
            <option value="muB">Magnetisation (µB/FU)</option>
            <option value="magn" {% if request.args['magninput']=='magn' %} selected {% endif %}>Magnetisation (kA/m=emu/cm³)</option>
            </select></td>
            <td><input type='number' step="any" name="mu" id="compound mu" value="{{ request.args['mu'] or mu }}"></td></tr>
        <tr><td colspan="2"><center><input type="submit"></center></td> </tr>
      </table>
    </center></form>

    <p></p>
        <form action="{{ url_for('start_page') }}"><center>
          <button type="submit" >back to database query</button>
        </center></form>


      {% if material %}
      <center>
      <h2 style="margin: 15px 0px 5px;" id="results_header">Result of SLD calculation:</h2>
        <table class="noborder"{% if validated %} style="background-color: #dfd"{% endif %}{% if invalid %} style="background-color: #fdd"{% endif %}>
            {% if material.ID %}
            <tr><th>Compound (ORSO ID={{material.ID}})</th><td colspan=2>{{material_name}}</td>
                <th class="hide_mobile"><a href="{{url_for('calculate_sld', ID=material.ID, _anchor='results_header')|safe}}" target="_blank">direct link</a></th></tr>
            {% else %}
            <tr><th>Compound</th><th colspan=2>{{material_name}}</th>
                <th><a href="{{url_for('calculate_sld', formula=str(material.formula), density=material.dens, mu=material.mu, densinput='density', magninput='muB', _anchor='results_header')|safe}}" target="_blank">direct link</a></th></tr>
            {% endif %}
            <tr><td style="text-align:right;">Description</td><td colspan=2 style="word-wrap;">{{material_description}}</td>
                <td rowspan="3" class="hide_mobile"><center><button type="button" onclick="copy_all()">Copy to<br />Clipboard</button></center></td></tr>
            <tr><td style="text-align:right;">Chemical Formula</td><td colspan=2>{{material}}</td></tr>
            <form action="{{ url_for('set_preference') }}" id="preferences" method="POST">
            <tr><td style="text-align:right;"><select id="densresult" name="densresult" onchange="switch_density()">
              <option value="density">Density (g/cm³)</option>
              <option value="FUdens">Density (FU/Å³)</option>
              <option value="FUdnm">Density (FU/nm³)</option>
              <option value="volume">FU Volume (Å³)</option>
            </select></td><td colspan=2 id="density_value">{{"%.4f"%material.dens}}</td></tr>
            <tr><td style="text-align:right;">Neutron nuclear SLD (10⁻⁶ Å⁻²)</td>
              <td id="neutron_entry_real">{{"%.5f"%(1e6*material.rho_n.real)}}</td>
              <td id="neutron_entry_imag">{{"%.5f"%(1e6*material.rho_n.imag)}}i</td>
              <td class="hide_mobile"><button type="button" onclick="copy_NSLD()">as Complex</button></td></tr>
            {% if deuterated %}
            <tr><td style="text-align:right;">Material Deuteration</td><td colspan="2">
                <input type="range" min="0" max="100" value="0" class="slider" id="deuteration_amount" step="1" onchange="deuterateSlider(this.value)" style="width: 90px;">
                <input type="number" min="0" max="100" value="0" class="slider_value" id="deuteration_amount_value" onchange="deuterateValue(this.value)" style="width: 40px;">%
            </td><td class="hide_mobile"></td></tr>
            {% endif %}
            <tr><td style="text-align:right;"><select id="magnresult" name="magnresult" onchange="switch_magn()">
                <option value="msld">Neutron magnetic SLD (10⁻⁶ Å⁻²)</option>
                <option value="muB">Magnetisation (µB/FU)</option>
                <option value="magn">Magnetisation (kA/m = emu/cm³)</option>
                </select></td><td colspan=2 id="magn_value">{{"%.6f"%(1e6*material.rho_m)}}</td>
                <td class="hide_mobile"><button type="button" onclick="copy_Nmag()">as Float</button></td></tr>
            <tr><td style="text-align:right;">Cu-Kɑ <select id="cu_select" name="cu_select" onchange="switch_sld_cu(this.value)" style="width: 150px;">
                    <option value="electron">e-density (rₑ/Å³)</option>
                    <option value="sld">SLD (10⁻⁶ Å⁻²)</option>
                    <option value="n_db">n=1-δ+iβ (δ/-β)</option>
                    </select></td>
              <td id="cu_entry_real">{{"%.6f"%(material.rho_of_E(Cu_kalpha).real/r_e_angstrom)}}</td>
              <td id="cu_entry_imag">{{"%.6f"%(material.rho_of_E(Cu_kalpha).imag/r_e_angstrom)}}i</td>
              <td class="hide_mobile"><button type="button" onclick="copy_Cu()">as Complex</button></td></tr>
            </form>
            <tr><td style="text-align:right;">Mo-Kɑ <select id="mo_select" name="mo_select" onchange="switch_sld_mo(this.value)" style="width: 150px;">
                    <option value="electron">e-density (rₑ/Å³)</option>
                    <option value="sld">SLD (10⁻⁶ Å⁻²)</option>
                    <option value="n_db">n=1-δ+iβ (δ/-β)</option>
                    </select></td>
              <td id="mo_entry_real">{{"%.6f"%(material.rho_of_E(Mo_kalpha).real/r_e_angstrom)}}</td>
              <td id="mo_entry_imag">{{"%.6f"%(material.rho_of_E(Mo_kalpha).imag/r_e_angstrom)}}i</td>
              <td class="hide_mobile"><button type="button" onclick="copy_Mo()">as Complex</button></td></tr>
            <tr style="border-top: solid 2px #888;"><th>Custom Energy (eV)</th>
              <td colspan="2"><select id="user_select" name="user_select" onchange="updateSlider(-1)" style="width: 150px;">
                    <option value="electron">e-density (rₑ/Å³)</option>
                    <option value="sld">SLD (10⁻⁶ Å⁻²)</option>
                    <option value="n_db">n=1-δ+iβ (δ/-β)</option>
                    </select></td><td class="hide_mobile"><button type="button" onclick="copy_xE()">Full Data</button></td></tr>
            <tr><td style="text-align:center;"><form action="" onsubmit="return false;">
                <input type="range" min="50" max="30000" value="8040" class="slider" id="xray_energy" step="20" onchange="updateSlider(this.value)" style="width: 120px;">
                <input type="number" min="50" max="30000" value="8040" step="any" class="slider_value" id="xray_energy_value" style="width: 60px;" onchange="updateValue(this.value)">
                </form></td>
                <td><div id="value_real">{{"%.6f"%(material.rho_of_E(Cu_kalpha).real/r_e_angstrom)}}</div></td>
                <td><div id="value_imag">{{"%.6f"%(material.rho_of_E(Cu_kalpha).imag/r_e_angstrom)}}i</div></td>
                <td class="hide_mobile"><button type="button" onclick="copy_xray()">as Complex</button></td></tr>
            {% if validated %}
            <tr><td colspan="4">This entry was validated by ORSO<br />({{ validated }} by {{ validated_by }})</td></tr>
            {% endif %}
            {% if invalid %}
            <tr><td colspan="4">This entry was removed by ORSO because it was invalid<br />({{ invalid }} by {{ invalid_by }})</td></tr>
            {% endif %}
        </table>
            {% if material.ID %}
            <br /><a id="download_link" href="{{url_for('api_download', ID=material.ID, xray_unit='edens')|safe}}">Download full record as JSON</a>
            {% endif %}
      <button type="submit" form="preferences">Save unit selections as default (stores Cookie)</button>
          {{ request.cookies.get('magnresult') }}
      </center><p></p>
      {% endif %}

      <center>
      {{script|safe}}
      </center>
    </td>

      <td class="hide_mobile" style="width: 40%; text-align: left; vertical-align: top; padding: 3em 20pt 20pt 20px;">
        <div style="background-color: #ddd; padding: 12px; box-shadow: 3px 3px #aaa;">
            <h4 style="margin: 0px;">Formulas used for the calculation:</h4>
            <center>
             \( SLD_{n} = \) \( \rho_{FU} \sum\limits_{i=0}^{N_{FU}} b_i \cdot n_i \) <br />
             \( SLD_{x} = \) \( r_e \rho_{FU} \sum\limits_{i=0}^{N_{FU}} f_i(E) \cdot n_i \)
            </center>
             $$\begin{aligned}
             n &= 1 - \delta + i \beta \\
            \delta &= \frac{\lambda^2}{2\pi} Re(SLD_{x}) \\
            \beta &= -\frac{\lambda^2}{2\pi} Im(SLD_{x}) \\
            \end{aligned}$$
        </div>
      </td>
    </tr></table>

{% if request.cookies.get("densresult") %}
    <script>
        document.getElementById("densresult").value="{{request.cookies.get("densresult")}}";
        switch_density();
    </script>
{% endif %}
{% if request.cookies.get("magnresult") %}
    <script>
        document.getElementById("magnresult").value="{{request.cookies.get("magnresult")}}";
        switch_magn();
    </script>
{% endif %}
{% if request.cookies.get("cu_select") %}
    <script>
        document.getElementById("cu_select").value="{{request.cookies.get("cu_select")}}";
        switch_sld_cu("{{request.cookies.get("cu_select")}}");
    </script>
{% endif %}

{% endblock %}
